.class_btn {
  background-color: #555555;
  border: 2px solid gray;
  color: white;
  font-size: 16px;
  padding: 12px 28px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.class_btn:hover {
  background-color: #008cba;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  display: flex;
  flex-direction: column;
}
